# Byte-compiled / optimized / DLL files
__pycache__/*
apps/metric/__pycache__/*
*.py[cod]
*.pyc 
*.cpython*

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
venv

# app
.ipynb_checkpoints
*.pyc
kaizen/__pycache__
apps/metric/__pycache__
__pycache__/
*.cpython-36.pyc
utils/providers/*/__pycache__/*
utils/providers/sjd/__pycache__/sjd.cpython-36.pyc
provider_creds.json